*{

}

/* variaveis de cores */
:root{
    --cor-de-fundo: #e96cce75;
--cor-de-texto: #8b4811b2;  
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
    font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1{
    color: var(--cor-de-texto);    
}
h2{
    color: rgb(124, 48, 4)
}
h3{
    color:rgb(241, 99, 123) ;
}



header{
    display: flex;
    justify-content:space-around;
    align-items: center; 
    img{
        height: 50px;
        width: 50px;
    }  
}


section{
    
    display: flex;
    color: rgb(0, 0, 0);
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    border: 3px solid #e5a6eeea;
}

img{
    width: 20%;
    border-radius:  20px;
    border: 3px solid #e5a6eeea;
    
}
 #equipe{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;

 }

 .foto-equipe {
    width: 120px;
 }
 .logo{
    width: 90px;
    height: 90px;
 }
 footer{
    background-color: rgba(160, 87, 27, 0.459) 
    ;
 }
 header a{
    color: rgb(0, 0, 0);
    text-decoration: none;
 }
 .Brownie{
   width: 400px;
   height: 400px;
 }
 .Pudim{
    width: 400px;
    height: 400px;
 }
 .Bolo {
    width: 400px;
    height: 400px;
 }
 .Panqueca{
    width: 370px;
    height: 370px;
 }
 .Gelatina{
    width: 370px;
    height: 370px;
 }
.Pipoca{
    width: 360px;
    height: 360px;
}
.Empresa{
    width: 50px;
    height: 50px;
}
 
