/* variaveis de cores */
:root{
    --cor-de-fundo: #d871c259;
--cor-de-texto: #7c4619e3;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
}

h1{
    color: var(--cor-de-texto);
    
    
}

header{
    display: flex;
}

.logo{
    width: 10%;
}