*{

}

/* variaveis de cores */
:root{
    --cor-de-fundo: #e96cce75;
--cor-de-texto: #8b4811b2;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
color:black;  var (--nome-estudante);
    font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1{
    color: var(--cor-de-texto);    
}

header{
    display: flex;
    justify-content:space-around;
    align-items: center;   
}

.logo{
    width: 10%;
}
section{
    display: flex;
    color: rgb(0, 0, 0);
    margin: 20px;
    padding: 20px;
    background-color: white;
}

img{
    width: 20%;
}
 .equipe{
    display: grid;
    grid-template-columns: 33% 33%;

 }

 .foto-equipe {
    width: 120px;
 }
 .logo{
    width: 10px;
 }
